#helpArea{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 99;
	background-color: rgba(51,51,51,.9);
	text-align: center;
}
#helpBox{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
#helpBox img{
	width: 240px;
}
#helpTitle{
	color:#90ADFF;
	font-size: 24px;
	position: absolute; 
	top:62%;
	left:50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
}